{block content}
<div id="banner">
    <h1 n:block=title>Register</h1>
</div>
<div class="divCenter" id="content">
    <div>
        {control registerForm}
        <a href="/login">Already Registered? Login HERE!</a>
    </div>
</div>
